<div fxLayout="row wrap">
  <div fxFlex.lg="13%" fxFlex.md="10%" fxFlex.sm="5%" ></div>
  <div fxFlex.lg="74%" fxFlex.md="80%" fxFlex.sm="90%" fxFlex.md="100%" fxLayout="row wrap" fxLayoutAlign="center" fxLayoutGap="30px">
    <!-- mat-card starts -->
    <mat-card class="example-card" ngStyle.xs="width:100%" [ngClass]="{'viewgrid':condition,'viewlist':!condition}" *ngFor='let index of newData | search:searchInput' [ngStyle]="{'background-color':index.color}">
      <!--Title printing starts -->
      <div fxLayout="row" fxFlex="100%">
        <div fxFlex="90%">
          <mat-card-header (click)="openDialog(index)">
            <mat-card-title placeholder="Title">
              {{index.title }}
            </mat-card-title>
          </mat-card-header>
        </div>
        <div fxFlex="10%" class="pin">
          <app-pin [noteid]=index (eventEmit)="emit($event)" [Pin]=index.isPined></app-pin>
        </div>
      </div>
      <!--Title printing Ends -->
      <!-- Description Printing starts -->
      <mat-card-content (click)="openDialog(index)">
        {{index.description}}
      </mat-card-content>
      <div *ngFor="let list of index.noteCheckLists" (click)="openDialog(index)">
        <mat-checkbox></mat-checkbox>   {{list.itemName}}
      </div>
      <mat-chip-list>
        <div *ngFor="let label of index.noteLabels">
          <mat-chip *ngIf="!label.isDeleted">{{label.label}}
            <mat-icon matChipRemove (click)="removelabel(index,label)">cancel</mat-icon>
          </mat-chip>
        </div>
      </mat-chip-list>
      <mat-chip-list>
          <div *ngFor="let label of index.reminder">
            <mat-chip *ngIf="!label.isDeleted">
            <mat-icon class="clock" mat-icon-button>access_time</mat-icon>
            {{label | date:"medium"}}
              <mat-icon matChipRemove (click)="removeRemainder(index.id)">cancel</mat-icon>
            </mat-chip>
          </div>
        </mat-chip-list>
      <!-- Description Printing Ends -->
      <!-- Icon Print Starts -->
      <mat-card-actions>
        <span class=invisible>
          <div fxFlex="100%" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="center">
            <div fxFlex="10%">
              <app-reminder [noteid]=index (eventEmit)="emit($event)"></app-reminder>
            </div>
            <div fxFlex="14%">
              <app-collaborator [noteid]=index></app-collaborator>
            </div>
            <div fxFlex="14%">
              <app-changecolor [colorid]=index (eventEmit)="emit($event)"></app-changecolor>
            </div>
            <div fxFlex="14%">
              <app-image [noteid]=index></app-image>
            </div>
            <div fxFlex="12%">
              <app-archieve [noteid]=index (eventEmit)="emit($event)" [Archive]=i ndex.isArchived></app-archieve>
            </div>
            <div fxFlex="10%">
              <app-more [noteid]=index (eventEmit)="emit($event)" (eventEmitLabel)="eventEmitLabel($event)" [deleted]=index.isDeleted></app-more>
            </div>
            <!-- <app-undo></app-undo> -->
            <!-- <app-redo></app-redo> -->
          </div>
        </span>
      </mat-card-actions>
      <!-- Icon printing Ends -->
    </mat-card>
    <!-- matcard Ends -->
  </div>
  <div fxFlex.lg="13%"  fxFlex.md="10%" fxFlex.sm="5%" ></div>
  <!-- </div> -->
</div>