.example-card{
    margin-top:10px;
    display: flex;
  flex-direction: column;
  margin-left:30px;
    padding-right:30px;
   position:relative;


}
mat-card-content{
    width:150px;
   position:relative;
   /* height: auto;  */
}
.invisible{
    opacity:0
}
.invisible:hover{
    opacity:1

}