<div fxLayout="row wrap" >
    <div fxFlex="5%"></div>
    <div fxFlex="90%" fxLayout="row wrap" fxLayoutGap="10px">
      <!-- mat-card starts -->
      <mat-card  class="example-card" *ngFor='let index of newData | search:searchInput' [ngStyle]="{'background-color':index.color}">
        <!--Title printing starts -->
          <div fxLayout="row" fxFlex="100%">
            <div fxFlex="90%">
            <mat-card-header (click)="openDialog(index)">
              <mat-card-title placeholder="Title" >
                {{index.title }}
              </mat-card-title>
            </mat-card-header>
            </div>
            <div fxFlex="10%" class="pin"><app-pin [noteid]=index (eventEmit)="emit($event)" [Pin]= index.isPined></app-pin></div>
          </div>
         <!--Title printing Ends -->
         <!-- Description Printing starts -->
        <mat-card-content (click)="openDialog(index)" >
          {{index.description}}
          <!-- {{index.label}} -->
        </mat-card-content>
        <mat-chip-list>
        <div *ngFor="let label of index.noteLabels">
          <mat-chip *ngIf="!label.isDeleted">{{label.label}}
          <mat-icon matChipRemove (click)="removelabel(index,label)">cancel</mat-icon>
        </mat-chip>
        </div>
      </mat-chip-list>
        <!-- Description Printing Ends -->
        <!-- Icon Print Starts -->
        <mat-card-actions>
          <span class=invisible>
            <div fxFlex="100%" fxLayout="row" fxLayoutGap="10px">
            <div fxFlex="10%"><app-reminder [noteid]=index></app-reminder></div>
            <div fxFlex="14%"><app-collaborator [noteid]=index></app-collaborator></div>
            <div fxFlex="14%"><app-changecolor [colorid]=index (eventEmit)="emit($event)"></app-changecolor></div>
            <div fxFlex="14%"><app-image [noteid]=index></app-image></div>
            <div fxFlex="14%"><app-archieve [noteid]=index (eventEmit)="emit($event)" [Archive]= index.isArchived></app-archieve></div>
            <div fxFlex="14%"><app-more [noteid]=index  (eventEmit)="emit($event)" (eventEmitLabel)="eventEmitLabel($event)" [deleted]=index.isDeleted></app-more></div>
            <!-- <app-undo></app-undo> -->
            <!-- <app-redo></app-redo> -->
            </div>
          </span>
        </mat-card-actions>
        <!-- Icon printing Ends -->
      </mat-card>
      <!-- matcard Ends -->
    </div>
    <div fxFlex="5%"></div>
    <!-- </div> -->
  </div>