.example-card{
    margin-top:8px;
    display: flex;
    flex-direction: column;
    /* margin-left:30px; */
    /* padding-right:30px; */
    height:auto;
    height:min-content;
    border-radius: 10px;
    word-wrap: break-word;
    /* width:210px; */
    width:auto;
}
mat-card-content{
    width:150px;
   position:relative;
}
.invisible{
    opacity:0;
}
.invisible:hover{
    opacity:1

}
.pin{
    opacity:0;
}
.pin:hover{
    opacity:1

}
.viewgrid{
    width:500px;
    margin-left:25px;
}
.viewlist{
    width:210px;
}
.note{
    border:none;
    outline: none;
    margin-left:10px;
}
.title{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font:bold;
    word-wrap:break-word

}
.break{
    word-wrap:break-word
}

