<!-- <p>
  notes works!
</p> -->
 <div fxLayout="row" fxLayoutAlign="center">
     <mat-card class="card" *ngIf="press"  (click)="toggleChild()" >
    <div fxFlex=70%>
        Take a note...
    </div>
    <div fxFlex=30%>
        <div fxLayout="row" fxFlex=40%>
        <mat-icon style="opacity: 0.5;">list</mat-icon>
        </div>
        <div  fxFlex=40%>
        <mat-icon style="opacity: 0.5;">insert_photo</mat-icon>
        </div>
        <div fxFlex=25%>
        <mat-icon>edit</mat-icon>
        </div>
    </div>

    </mat-card>
</div>
<div *ngIf=!press>
    
    <div fxLayout="row" fxLayoutAlign="center">
        <mat-card class="notecard">
            <div fxLayout="row">       
                <div fxFlex=95%>
                    <div data-text="Title" contenteditable="true" class="title">
                     <mat-card-header>Title</mat-card-header>
                    </div>
                </div>
                <div fxFlex=5% style="opacity: 0.5;">
                    <a mat-list-item href="#" ><img src="../../../assets/pin.svg"></a>
                </div>
            
            </div><br>
            <div data-text="Type your text" contenteditable="true" aria-multiline="true" role="textbox" aria-label="Note" class="textbar" tabindex="0" spellcheck="true"></div>
        
            <div fxLayout="row"  class="icons">
                    <div fxFlex=85% fxLayoutGap="20px">
                    <app-reminder></app-reminder>
                    <app-collaborator></app-collaborator>
                    <app-changecolor></app-changecolor>
                    <app-image></app-image>
                    <app-archieve></app-archieve>
                    <app-more></app-more>
                    <app-undo></app-undo>
                    <app-redo></app-redo>
                    </div>
             <div fxFlex=15% class="button">  
                 <div>
                <button mat-button (click)="press=!press" >CLOSE</button>
            </div>
            </div>
        </div>
        </mat-card>
    </div>
</div> 
    