<div fxLayout="column" fxFlex="100%">
    <div  fxFlex=20% >
        <!-- <div fxLayout fxFlex=100%> -->
            <div fxLayout="row" fxLayoutAlign="center center" fxFlex=100%>
                <div fxFlex=25%></div>
                <div fxFlex=50% fxLayoutAlign="center center">
                <mat-card class="card" *ngIf="press"  (click)=toggleChild() >
                    <div fxFlex="70%">
                        Take a note...
                    </div>
                    <div fxFlex="30%">
                        <div fxLayout="row" fxFlex="40%">
                            <mat-icon style="opacity: 0.5;">list</mat-icon>
                        </div>
                        <div  fxFlex="40%">
                            <mat-icon style="opacity: 0.5;">insert_photo</mat-icon>
                        </div>
                        <div fxFlex="20%">
                            <mat-icon>edit</mat-icon>
                        </div>
                    </div>
                </mat-card>
            </div>
            <div fxFlex=25%></div>
            </div>
        </div>
        <!-- </div> -->
             <div *ngIf=!press>
                <div fxLayout="row" fxLayoutAlign="center center">
                    <mat-card class="notecard" [ngStyle]="{'background-color':bgcolor}">
                        <div fxLayout="column" fxFlex="100%">
                            <div  fxFlex=20%>
                                <mat-card-header>
                                    <div fxLayout="row" fxFlex=100%>       
                                        <div fxFlex=95%>
                                            <div data-text="Title" id="title" contenteditable="true" class="title" role="textbox" aria-label="Note"  spellcheck="true"></div> 
                                        </div>
                                        <div fxFlex=5% style="opacity: 0.5;">
                                            <a mat-list-item href="#" ><img src="../../../assets/pin.svg"></a>
                                        </div>
                                    </div>
                                </mat-card-header>
                            </div>
                            <div fxFlex=65%>
                                <mat-card-content>
                                    <div data-text="Type your text" id="description" contenteditable="true" aria-multiline="true" role="textbox" aria-label="Note" class="textbar" ></div>
                                </mat-card-content>
                                <mat-chip-list>
                                        <div *ngFor="let index of labelevent">
                                          <mat-chip *ngIf="!index.isDeleted">{{index.label}}
                                          <mat-icon matChipRemove (click)="removelabel(index,label)">cancel</mat-icon>
                                        </mat-chip>
                                        </div>
                                </mat-chip-list>
                            </div>
                            <div fxFlex=15%>
                                <mat-card-actions>
                                    <div fxLayout="row"  class="icons">
                                        <div fxFlex=80% fxLayoutGap="20px">
                                            <app-reminder></app-reminder>
                                            <app-collaborator></app-collaborator>
                                            <app-changecolor (eventEmit)="emit($event)"></app-changecolor>
                                            <app-image></app-image>
                                            <app-archieve></app-archieve>
                                            <app-more (eventEmit)="emit($event)" (eventEmitLabel)="eventEmitLabel($event)"></app-more>
                                            <!-- <app-undo></app-undo>
                                            <app-redo></app-redo> -->
                                        </div>
                                        <div fxFlex=20% class="button">
                                            <!-- <div> -->
                                                <button mat-button (click)="notes()">CLOSE</button>
                                            <!-- </div> -->
                                        </div>
                                    </div>
                                </mat-card-actions>
                            </div>
                        </div>
                    </mat-card>
                </div>
            </div> 
       <div>
        <app-addnote></app-addnote>
    </div>
</div>