.container{
    min-height: 100vh;
}

.line{
    width: 180%;
}
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
 .mat-form-field-underline {
    width:180%;   
 }
  