<span data-toggle="tooltip" title="{{!isDeleted ? 'more':''}}">
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon class="more" *ngIf="!isDeleted">more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu" class="menu">
    <button (click)=delData(true) *ngIf="!deleted" mat-menu-item>Delete Note</button>
    <button (click)=delData(false) *ngIf="deleted" mat-menu-item>Restore Note</button>

    <button mat-menu-item [matMenuTriggerFor]="addLabel" (click)=" $event.stopPropagation();">Add Label</button>
    <mat-menu #addLabel="matMenu">
    <span>Label Note</span>
    <div (click)=" $event.stopPropagation();">
    <input  matInput placeholder="search" class="searchicon" [(ngModel)]="query">
    <mat-icon>search</mat-icon>
    </div>
    <div  *ngFor="let label of array | search: query">
        <mat-checkbox (click)="$event.stopPropagation(); addChecklabel(label)" [(ngModel)]="label.isChecked">{{ label.label }}</mat-checkbox>
        <!-- <input (click)=" $event.stopPropagation();"><mat-checkbox (click)="$event.stopPropagation(); removelabel(label)" *ngIf="label.isChecked==false"></mat-checkbox> -->
    </div>
    </mat-menu>
    <button mat-menu-item>Show CheckBox</button>
  </mat-menu>
</span>


