.more{
    opacity:0.5;
}
.more:hover{
    opacity:1;
}
/* #tip{
    /* margin-right:30px; */
    /* padding-left:18; */
    /* border-radius:10px;
}
.tooltip {
    /* position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; */

/* } */ 
.down{
    margin-top:50%
}
