<span data-toggle="tooltip" title="more">
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon class="more">more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu" class="menu">
    <button (click)=delData() mat-menu-item>Delete Note</button>
    <button mat-menu-item [matMenuTriggerFor]="addLabel" (click)=" $event.stopPropagation();">Add Label</button>
    <mat-menu #addLabel="matMenu" >
    <span>Label Note</span>
    <div (click)=" $event.stopPropagation();">
    <input  matInput placeholder="search" class="searchicon">
    <mat-icon>search</mat-icon>
    </div>
    <div  *ngFor="let label of array">
        <span (click)=" $event.stopPropagation();"><mat-checkbox (click)="addChecklabel(label)"></mat-checkbox>{{ label.label }}</span>
    </div>
  
    </mat-menu>
    <button mat-menu-item>Show CheckBox</button>
  </mat-menu>
</span>

