.remain{
    opacity:0.5;
}
.remain:hover{
    opacity:1;
}
.spaceremain{
    float:right;
}
.remainder{
    float:right;
    margin-left:40px;
}
.clock{
    margin-top:10px;
}
.button{
    margin-top:20px;
}