.remain{
    opacity:0.5;
}
.remain:hover{
    opacity:1;
}
.spaceremain{
    float:right;
}
.remainder{
    float:right;
    margin-left:40px;
}
.clock{
    margin-top:10px;
}
.button{
    // margin-top:20px;
    float:right;
}
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  .timeSpace{
      float:right;
  }
  .noonSpace{
      margin-left:20px;
  }
//   .custom{
//     margin-right:20px;
//   }
.adjust{
    height:40px;
    width:200px;
}