<div class="notesPosition">
    <app-notes (onNewEntryAdded)="addNewEntry($event)"></app-notes>
    <!-- Pined Notes Starts -->
    <div *ngIf="pinarray.length">
    <span class="pined">PINNED</span>
    <app-addnote  [newData]=pinarray (eventEmit)="emit($event)" (labelEmit)="labelEmit($event)"  ></app-addnote>
    <span class="others">OTHERS</span>
    <app-addnote [newData]=array (eventEmit)="emit($event)" (labelEmit)="labelEmit($event)"  ></app-addnote>
    </div>
    <!-- Pined Notes Ends -->
    <!-- Others Starts -->
    <div *ngIf="!pinarray.length">
    <app-addnote [newData]=array (eventEmit)="emit($event)" (labelEmit)="labelEmit($event)"  ></app-addnote>
    </div>
     <!-- Others Ends -->

</div>