<div  class="collaborator">
  <mat-card>
    <!-- Collaborator Heading Starts -->
    <mat-card-header>
    <div class="collab">Collaborators</div>
    </mat-card-header>
    <!-- Collaborator Heading Starts -->
    <hr>
    <br>
<!-- printing collaborator data starts  -->


<mat-card-content>
  <div fxLayout="row" fxLayoutGap="20px">
      <button mat-mini-fab [ngStyle]="{'background-image':'url(' +img+ ')','background-size':'cover'}">
      </button>
      <mat-content fxFlex class="content">
          {{firstName | titlecase}} {{lastName | titlecase}} (Owner)
      </mat-content>
  </div>
  <div class="contentNew"><mat-content fxFlex>{{email}}</mat-content></div>
  
    <div *ngFor='let collab of collabArray'>
      <div class="person"><button mat-mini-fab disabled><mat-icon>person_add</mat-icon></button>
        <mat-content fxFlex class="content">
      {{collab.firstName | titlecase}} {{collab.lastName | titlecase}}
      </mat-content>
    </div>
  </div>
  <div class="person"><button mat-mini-fab disabled><mat-icon>person_add</mat-icon></button>
    <input class="place" [(ngModel)]=collabArray.email [matMenuTriggerFor]="menu" (keyup)="searchpeople()" placeholder="person or email to share with...">
  </div>
</mat-card-content>
<!-- printing collaborator data Ends  -->
<!-- Collaborator Footer Starts -->
<mat-card-footer> 
  <div class="buttons">
        <a mat-button routerLink=".">Close</a>
        <a mat-button routerLink=".">Save</a>
  </div> 
</mat-card-footer>
<!-- Collaborator Footer Starts -->
</mat-card>
<!-- Search data printing starts -->
  <mat-menu class="colabwidth" (click)="$event.stopPropagation()" #menu="matMenu"  [overlapTrigger]="false">
  <div class="colabwidth" *ngFor='let search of usersData' (click)="addCollab(search)">
      {{search.firstName | titlecase}} {{search.lastName | titlecase}} <{{search.email}}>
  </div>
</mat-menu>
<!-- Search data printing Ends-->

</div>
