<!-- <a routerLink='/signup'></a>
<div class="box"
      fxLayout="coloumn"
      fxLayout.xs="coloumn"
      fxLayoutAlign="center">
    <div class="one" fxFlex="0 1 80px">one</div>
    <div class="two" fxLayout.xs=coloumn fxFlex></div>
    <div class="A" fxFlex="33%">A</div>
    <div class="B" fxFlex="">B</div>
    <div class="C" fxFlex="33%">C</div>
<div class="three" fxFlex="0 1 80px">three</div>
    </div> -->
    <div class="container"
    fxLayout="column"
    fxLayout.xs="column"
    fxLayoutAlign="center"
    fxLayoutGap="0px"
    fxLayoutGap.xs="0">
 <div class=" item-1" fxFlex="0 1 80px">Item 1</div>
 <div class=" item-2" fxLayout.xs="column" fxFlex>

     <div class=" item-a" fxFlex="33%">Item a</div>
     <div class=" item-b" fxFlex></div>
     <div class=" item-c" fxFlex="33%" fxFlexOrder="3">Item c</div>
 </div>
 <div class="item item-3" fxFlex="0 1 80px" fxFlexOrder="3">Item 3</div>
</div>

