.container{
    min-height: 100vh;
}
.item-1{
  background-color: aqua;
}
.item-2{
    background-color: bisque;
}
.item-3{
   background-color:forestgreen;
}
.item-a{
    background-color:lightcyan;
  }
  .item-b{
      background-color:lightpink;
  }
  .item-c{
     background-color:lightseagreen;
  }