.sidenav-container {
  
  height: 100%;
  background-color:aqua;


}

.sidenav {
  margin-top:56px;
  width: 270px;
  background-color:lightgrey;
  margin-left:-15px;
  position: fixed;
 
  // padding-top:60px;
}


.mat-toolbar.mat-primary {
  position: sticky;
  top:0px;
  z-index: 1;
}
.mat-drawer.mat-drawer-side {
  top:0;
  height:100%;
  margin-top:65px;
  z-index: 1;
}
.mat-toolbar.mat-primary {
  background:#fb0 ;
  color: #fff;
}
.searchbar{
  height:40px;
  width:300%; 
  border:none;
  outline:none;
  background-color:rgb(235, 168, 23);
  padding-left:30px;
  color:black;
  border-radius:10px;
}
input:focus{
  background:white;
}

.notes{
  padding-left: 15px;
  }
  .remainder{
    padding-left: 15px;
    }
  .edit{
   
   border:none;
   height:20px;
   width:50px;
    margin-left:98px;
    margin-right:20px;
}
.label{
  /* padding-top:10px; */
  margin-left:20px;
  font-size:15px;
}

.example-card {
  max-width: 300px;
  position:absolute;
  z-index: 10;
  top:65px;
  right:2px;
}

.example-header-image {
  background-size: cover;
  background-color:navy;
}
.letter{
  color:aliceblue;
  margin-left:10.5px;
  font-size:30px;
  font-family: 'Times New Roman', Times, serif;
  margin-top:10%;
  
}
.account{
  font-size:30px;
}
.word{
  font-size:30px;
}
.mat-fab .mat-button-wrapper {
  padding: 0px;
  display: inline-block;
  line-height: 24px;
}
.printlabel{
  margin-left:5px;
  margin-top:15px;
}
.space{
  margin-right:20px;
}
.displayname{
  color:black;
  font-family:Bookman, URW Bookman L, serif;
  margin-left:10px;
}
.menuicon{
  color:black
}
.searchicon{
  margin-top:20px;
  color:black;
  position:fixed;
  top:0px;
}
.sideicon{
  margin-top:10px;
  color:black;
 
}
.profileicon{
  float:right;
  margin-left:30%;
}
.image{
  width:15%;
  float:left;
  // border:none;
  // outline:none;
  // margin-top:110%;
}
.buttonimage{
  margin-right:15%
}
.logoutButton{
  float:right;
  margin-right:10px;
}
.style{
  margin-left:10px;
  margin-top:30px;
}
.routename{
  color:black;
  font-size:16px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden !important;
  width:70%
  // margin-left:20px;
}
.line{
  margin-top:10px;
  
}
.change{
  color:black;
margin-top:20px;
}
.display{
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden !important;
}