.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 250px;
  background-color:lightgrey;
  margin-left:-15px;
  position: fixed;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
}
.mat-drawer.mat-drawer-side {
  top:0;
  height:100%;
  margin-top:65px;
}
.mat-toolbar.mat-primary {
  background:#fb0 ;
  color: #fff;
}
.searchbar{
  height:40px;
  width:80%; 
  border:none;
  outline:none;
  background-color:rgb(235, 168, 23);
}
input:focus{
  background:white;
}

.notes{
  padding-left: 15px;
  }
  .remainder{
    padding-left: 15px;
    }
  .edit{
   
   border:none;
   height:20px;
   width:50px;
    margin-left:110px;
    margin-right:20px;
}
.label{
  padding-top:10px;
  margin-left:20px;
  font-size:15px;
}

.example-card {
  max-width: 300px;
  position:absolute;
  z-index: 10;
  top:65px;
  right:2px;
}

.example-header-image {
  background-size: cover;
  background-color:navy;
}
.letter{
  color:aliceblue;
  margin-left:10.5px;
  font-size:30px;
  font-family: 'Times New Roman', Times, serif;
  margin-top:10%;
  
}
.account{
  font-size:30px;
}
.word{
  font-size:30px;
}
.mat-fab .mat-button-wrapper {
  padding: 0px;
  display: inline-block;
  line-height: 24px;
}
.printlabel{
  margin-left:20px;
  margin-top:15px;
}
/* .labelicon{
  /* margin-top:50px; */
/* } */