.sidenav-container {
  height: 100%;
 
  /* margin-left:0; */
}

.sidenav {
  width: 250px;
  background-color:lightgrey;
  margin-left:-15px;
}

.mat-toolbar.mat-primary {
 position: sticky;
  /* top: 0; */
  margin-left:0;
}
.mat-drawer.mat-drawer-side {
  /* top:0; */
  height:100%;
  margin-top:65px;
   position: fixed;   
}
.mat-toolbar.mat-primary {
  background:#fb0 ;
  color: #fff;
}
.refresh{
  margin-left:80%;
  color:black;
}
.apps{
  margin-left:40%;
  padding-right:20%;
  color:black;
}
.view{
  margin-left:20%;
  color:black;
}
.notify{
  padding-right:30%;
  /* padding-left:50%; */
  /* margin-left:2%; */
  color:black;
}
.picture{
  /* padding-right:40%; */
  color:black;
}

.searchbar{
  height:40px;
  width:300%; 
  border:none;
  outline:none;
  margin-left:30%;
  background-color:rgb(235, 168, 23);

}
#icon{
  /* margin-right:5px;
  padding-top:5px; */
  color:black;
  padding-bottom:6px; 

}

  
.notes{
  padding-left: 15px;
  }
  .remainder{
    padding-left: 15px;
    }
  .edit{
   
   border:none;
   height:20px;
   width:50px;
margin-left:110px;
margin-right:20px;
}
.label{
  padding-top:10px;
  margin-left:20px;
  font-size:15px;
}
.newlabel{
  font-size:8px;
  padding-left: 15px;
  }
.icon{
  margin-left:80px;
}
.icon1{
  margin-left:500px;
}