.title{
  margin-left:40px;
  font-family: 'Product Sans',Arial,sans-serif;
  font-weight: bold;

}
.navbar{
  background-color:rgb(255,187,0);
}
.menu{
 margin-left:20px;
}
/* .menu a{
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
} */
.menu a:hover {
  background-color: grey;
}
.search{
  /* padding-top:30px;
  padding-bottom:0px;
  margin-top:10%; */
  margin-left:20%;
border:none;
  width:300%;
}
.refresh{
  margin-left:40%;
}
.apps{
  margin-left:10%
}
.view{
  margin-left:2%;
}
.notify{
  margin-left:2%;
}
.picture{
  margin-left:2%;
}
.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 280px;
  background-color:lightgrey;
}
.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
}
.mat-drawer.mat-drawer-side {
  top:0;
  height:100%;
  margin-top:65px;
  /* position: relative; */
}
.mat-toolbar.mat-primary {
  background:#fb0 ;
  color:#ffff;
}
/* .search input[type=text] {
  padding: 6px;
  margin-top: 8px;
  margin-right: 0px;
  border: none;
 
} */
/* .search{
  pad
} */

   .search input[type=text] {
    float: none;
    display: block;
    text-align: left;
    width: 80%;
    padding: 12px; 
    font-size: 17px;
    margin-right:80px;
    border:none;
    margin-bottom:28px;
    background:#fb0 ;
  }
  .search a:hover{
    background:#ffff ;

  }
.notes{
  padding-left: 15px;
  }
  .remainder{
    padding-left: 15px;
    }
  .edit{
   
   border:none;
   height:20px;
   width:50px;
margin-left:110px;

}
.label{
  padding-top:20px;
  margin-right:20px;
}
.newlabel{
  font-size:8px;
  padding-left: 15px;
  }
