.title{
  margin-left:40px;
  font-family: 'Product Sans',Arial,sans-serif;
  font-weight: bold;

}
.menu{
  
  margin-left:20px;
}
/* .menu a{
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
} */
.menu a:hover {
  background-color: grey;
}
.search{
  /* padding-top:30px;
  padding-bottom:0px;
  margin-top:10%; */
  margin-left:20%;
border:none;
  width:300%;
}
.refresh{
  margin-left:40%;
}
.apps{
  margin-left:10%
}
.view{
  margin-left:2%;
}
.notify{
  margin-left:2%;
}
.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  /* background-color:pink */
}
.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
}
.mat-drawer.mat-drawer-side {
  top:0;
  height:100%;
  margin-top:65px;
  /* position: relative; */
}
.mat-toolbar.mat-primary {
  background:#fb0 ;
  color: #fff;
}
