.labelbox{
    width:300px;
    margin-bottom:30px;
}
.label{
    border:none;
    outline:none;
    width:100%;
    height:auto;
}
.label:empty:before{
    content:attr(data-text);
}
.clear{
    margin-left:10px;
}
.input{
    border:none;
    outline:none;
    font-size: 18px;
}