<div>
    <div fxLayout="row" fxFlex=100%>
        <mat-card class="notecard" [ngStyle]="{'background-color':bgcolor}">
            <div fxLayout="column" fxFlex=100%>
                <div fxFlex=20%>
                    <!-- <mat-card-header> -->
                    <div fxLayout="row" fxFlex=100%>
                        <div fxFlex=95%>
                            <div [innerHTML]="data.title" contenteditable="true" class="title" id="title"></div>
                        </div>
                        <div fxFlex=5% style="opacity: 0.5;">
                            <a mat-list-item href="#"><img src="../../../assets/pin.svg"></a>
                        </div>
                    </div>
                    <!-- </mat-card-header> -->
                </div>
                <div fxFlex>
                    <!-- <mat-card-content> -->
                    <div id="description" [innerHTML]="data.description" contenteditable="true" aria-multiline="true" role="textbox" aria-label="Note"
                        class="textbar" tabindex="0" spellcheck="true"></div>
                    <!-- </mat-card-content> -->
                </div>
                <div class="margin">
                <div class="note" *ngFor="let check of tempArray" fxLayout="row">
                    <mat-checkbox fxFlex="10%" *ngIf="check.status=='open'&& !check.isDeleted" (click)=checkBox(check)></mat-checkbox>
                    <input [(ngModel)]=check.itemName fxFlex="80%" class="note" (keydown)=editing(check,$event)
                      [style.backgroundColor]="bgcolor" *ngIf="!check.isDeleted && check.status=='open' ">
                    <mat-icon fxFlex="10%" class="clearIcon" (click)=removeList(check) *ngIf="!check.isDeleted && check.status=='open'">clear</mat-icon>
                </div>
                <hr *ngIf="checklist">
                    <div fxLayout="row" *ngIf="checklist">
                      <mat-icon fxFlex="10%" *ngIf="!adding">add</mat-icon>
                      <mat-checkbox  fxFlex="10%" *ngIf="adding" [(ngModel)]=addCheck  color="primary"></mat-checkbox>
                      <input  fxFlex="90%" class="notelist" placeholder="List Item" [style.backgroundColor]="bgcolor" [(ngModel)]=newList (keydown)=addList($event)/>
                    </div>
                <hr *ngIf="checklist">
                <div class="note" *ngFor="let check of tempArray" fxLayout="row">
                      <mat-checkbox fxFlex="10%" checked=true *ngIf="check.status=='close'&& !check.isDeleted" (click)=checkBox(check)></mat-checkbox>
                      <input [(ngModel)]=check.itemName [style.backgroundColor]="bgcolor" class="note" style="text-decoration: line-through;" fxFlex="80%" *ngIf="check.status=='close' && !check.isDeleted"
                        (keydown)=editing(check,$event)>
                      <mat-icon fxFlex="10%" class="clearIcon" (click)=removeList(check) *ngIf="!check.isDeleted && check.status=='close'">clear</mat-icon>
                </div>
                </div>
                <mat-chip-list class="margin">
                    <div *ngFor="let label of array">
                        <mat-chip *ngIf="!label.isDeleted">
                          <mat-icon class="clock" mat-icon-button>access_time</mat-icon>
                          {{label | date:"medium"}}
                          <mat-icon matChipRemove (click)="removeRemainder(data.id)">cancel</mat-icon>
                        </mat-chip>
                    </div>
                </mat-chip-list>
                <mat-chip-list class="margin">
                     <div *ngFor="let label of label">
                        <mat-chip *ngIf="!label.isDeleted">{{label.label}}
                            <mat-icon matChipRemove (click)="removelabel(data,label)">cancel</mat-icon>
                        </mat-chip>
                    </div>
                </mat-chip-list>

                <div fxFlex=15% class="action">
                    <!-- <mat-card-actions> -->
                    <div fxLayout="row" class="icons">
                        <div fxFlex.lg="80%" fxFlex.md="80%" fxFlex.sm="75%" fxFlex.xs="75%" fxLayoutGap="20px">
                            <div fxFlex="8%">
                            <app-reminder [noteid]=data (eventEmit)="emit($event)" (eventEmitReminder)="eventEmitRemainder($event)"></app-reminder>
                            </div> 
                            <div fxFlex="8%">
                            <app-collaborator></app-collaborator>
                            </div>
                            <div fxFlex="8%">
                            <app-changecolor [noteid]=data (eventEmit)="emit($event)"></app-changecolor>
                            </div>
                            <div fxFlex="8%">
                             <app-image></app-image>
                             </div>
                             <div fxFlex="8%">
                            <app-archieve [noteid]=data.id (eventEmit)="emit($event)"></app-archieve>
                            </div>
                            <div fxFlex="6%">
                            <app-more [noteid]=data (eventEmit)="emit($event)" (eventEmitLabel)="eventEmitLabel($event)"></app-more>
                            </div>
                        </div>
                        <div fxFlex.lg=20% fxFlex.md="20%" fxFlex.sm="25%" fxFlex.xs="25%" class="button">
                            <div>
                                <button mat-button (click)=onClick()>CLOSE</button>
                            </div>
                        </div>
                    </div>
                    <!-- </mat-card-actions> -->
                </div>
            </div>
        </mat-card>
    </div>
</div>



