.box{
    min-height: 100vh;
}
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 80%;
    margin-right: 20%;
  }
  
  .example-full-width {
    width: 100%;
  }

  .button-row button,
  .button-row a {
    margin-right: 100px;
  }
  .next{
      margin-right:50px;
      background-color:lightskyblue;
  }
  .card{
    width:40%;
  } 
  .select{
    background-color: lightcoral;
    text-align: center;
    margin-left:7%;
    margin-right:5%;
  }
  .notselect{
    background-color:lightgoldenrodyellow;
    text-align:center;
    margin-left:5%;
    margin-right:7% 
  }
  .colorsign1{
    color: blue
  }
  .colorsign2{
    color: red  
  }
  .colorsign3{
    color: green  
  }