$brand-color: #0000FF;
$brand-color1:#008000;
$brand-color2:#FF0000;
$background-color1: #FFFFFF;
$background-color2:#DC143C;
$background-color3:#FF8C00;
$background-color4:#FFFF99;
$background-color5:#2E8B57;
$background-color6:#008080;
$background-color7:#87CEEB;
$background-color8:#D2691E;
$background-color9:#DDA0DD;
$background-color10:#FFC0CB;
$background-color11:#A52A2A;
$background-color12:#C0C0C0;
$background-color13:#000000;
$background-color14:#D3D3D3;
$background-color15:rgb(235, 168, 23)