.undo{
    opacity:0.5;
}
.undo:hover{
    opacity:1;
}
.card{
    width:500px;
    /* height:50px; */
    margin-top:15%;
    /* height:fit-content; */
    /* position: relative; */
    /* left: 300px; */

}
.notecard{
    width:500px;
    margin-top:30%;
    /* right: 300px; */
    /* position: absolute; */

}
.textbar{

    width:100%;
    height:50%;
    border:none;
  outline:none;

}